@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --var-color-light-shades: #f4f7f4;
    --var-color-dark-shades: #232129;
    --var-color-main-brand: #87017c;
    --var-color-light-accent: #9f8c9a;
    --var-color-dark-accent: #7f6e90;
    --var-font-primary: 'Poppins', sans-serif;
    --var-font-headers: 'Montserrat', sans-serif;
    --var-font-big-headers: 'Khand', sans-serif;
}
/* Main classes */

* {
    line-height: 1.5;
    
    
}

body {
    background-color: var(--var-color-light-shades);
    color: var(--var-color-dark-shades);
    margin: 0;
    padding: 0;
    height: 100vh;
    border: none;
}

h1 {
    font-family: var(--var-font-big-headers);
    font-size: 5rem;
    line-height: 1.3;
    
}

h2 {
    font-family: var(--var-font-headers);
    font-size: 5rem;
    line-height: 0.2;
}


h3 {
    font-family: var(--var-font-headers);
    font-size: 2.5rem;
    line-height: 0;
}

h4 {
    font-family: var(--var-font-headers);
    font-size: 1.2rem;
}


p {
    font-family: var(--var-font-primary);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

/* Specific classes */

/* Loading button and overlay div when loading is on screen */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1001;
}

.thank-you-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
  }

  .thank-you-message .fa-square-xmark {
    font-size: 2rem;
    color: var(--var-color-main-brand);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .thank-you-message .fa-square-xmark:hover {
    transition: transform 0.3s ease-in-out;
    color: var(--var-color-dark-accent);
  }
  
  .thank-you-message h2 {
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
  }
  
  .thank-you-message p .fa-circle {
    color: var(--var-color-main-brand);
    font-size: 1rem;
  }

.loading-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--var-color-dark-shades);
    color: var(--var-color-light-shades);
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: var(--var-font-primary);
    font-size: 1rem;
    z-index: 1002;
}
/* Sections */

.section-1 {
    background-image: url("../images/background/background-01.webp");
    background-color: var(--var-color-dark-shades);
    color: var(--var-color-light-shades);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 70vh;
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.section-3 {
    position: relative;
    overflow: hidden;
    height: 70vh;
}

.section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.section-5 {
    position: relative;
    overflow: hidden;
    height: 70vh;
}

.section-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.section-7 {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.section-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh
    
}

.section-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.section-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

/* Header and navbar */
header {
    background-color: var(--var-color-dark-shades);
    color: var(--var-color-light-shades);
    height: 48px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    transition: opacity 0.1s ease-in-out;
}

nav {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 1.3rem;
    height: 1.3rem;
}

.nav-link {
    display: flex;
    justify-content: center;
}

.nav-link ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link li {
    margin: 0;
    border: none;
    padding: 0 2rem;
    font-size: 1rem;
}

.nav-link a { 
    text-decoration: none;
    font-family: var(--var-font-primary);
    color: var(--var-color-light-shades);
}

.nav-item.active {
    font-weight: bold;
  }

.download-btn a .fa-download {
    font-size: 1rem;
    color: var(--var-color-light-shades);
    padding: 0
}

.menu-button {
    display: none;
}

#menuBtn {
    display: none;
}

#exitBtn {
    display: none;
}

/* Sub navbar */

.sub-navbar {
    position: absolute;
    top: 48px; /* Change this value to the height of your main navbar */
    left: 0;
    width: 100%;
    background-color: var(--var-color-light-shades);
    color: var(--var-color-dark-shades);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.sub-navbar p {
    text-align: center;
    font-size: 0.9rem;
}

.sub-navbar p span {
    color: var(--var-color-main-brand);
}


/* Home section */
.home {
    text-align: left;
}

.home h1 {
    margin: 0 0 0 7rem;
    padding: 0;
    position: relative;
}

.home .fa-circle {
    font-size: 1rem;
    color: var(--var-color-main-brand);
    margin: 0.5rem;
    vertical-align: baseline;

}

.span-container {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 165px;
}

#web, 
#app, 
#game {
    padding: 0;
    margin: 0;
    right: 0;
    font-size: 5rem;
}

/* Home-2 section */
.about h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0;
}

.do-container {
    display: inline-block;
    position: relative;
}

.about .fa-circle {
    font-size: 1rem;
    color: var(--var-color-main-brand);
    margin-left: -25px;
}

#doText {
    display: inline;
    font-size: 5rem;
}

.about .blinking-cursor {
    font-size: 6rem;
    vertical-align: center; 
    animation: blink 1s infinite;
    font-weight: 300;
    display: inline;
    margin-left: -37px;
    color: var(--var-color-dark-shades);
}

@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

/* Video section */

.video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

video {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 1rem;
}

/* Describe section */
.describe-myself h2{
    margin: 0 0 3rem 0;
    padding: 0;
    text-align: center;
}

.creation-container {
    display: inline-block;
    position: relative;
}

.describe-myself .fa-circle {
    font-size: 0.8rem;
    color: var(--var-color-main-brand);
    margin-left: -10px;
    padding: 0;
}

#creationText {
    display: inline;
    font-size: 2.5rem;
    font-weight: 300;
}

.describe-myself .blinking-cursor {
    font-size: 3.5rem;
    vertical-align: center; 
    animation: blink 1s infinite;
    font-weight: 300;
    display: inline;
    margin-left: -33px;
}

.describe-myself p span {
    color: var(--var-color-main-brand);
}

/* Technology section */

#technologyText {
    display: inline;
    font-size: 2.5rem;
    font-weight: 300;
}

/* Technology skills section */

.skill-container .categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.categories .btn-category {
    margin: 0 1rem 0rem 1rem;
    font-family: var(--var-font-headers);
    border: none;
    background-color: transparent;
    color: var(--var-color-dark-shades);
    font-size: 1rem;
    border: 1px solid var(--var-color-light-accent);
    cursor: pointer;
}

.skill-container .images {
    padding: 0 6rem 0 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill-container .images > * {
    margin: 1rem;
    width: 5rem;
}

/* Projects section */
#projectsText {
    display: inline;
    font-size: 2.5rem;
    font-weight: 300;
}

/* Projects session with images and links */

.projects-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.projects .projects-btn-category {
    margin: 0 1rem 0rem 1rem;
    font-family: var(--var-font-headers);
    border: none;
    background-color: transparent;
    color: var(--var-color-dark-shades);
    font-size: 1rem;
    border: 1px solid var(--var-color-light-accent);
    cursor: pointer;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-container div.project:nth-of-type(even) {
    background-color: var(--var-color-dark-shades);
    color: var(--var-color-light-shades);
}

.projects-container div.project:nth-of-type(even) .links a:nth-child(2) {
    background-color: var(--var-color-light-shades);
    color: var(--var-color-dark-shades);
}

.project {
    width: 30%;
    margin-bottom: 3rem;
    border: none;
    padding: 1rem;
}

.project img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;;
}

.project h4 {
    margin-bottom: 1rem;
    text-align: center;
}

.project .technology {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
}

.project .technology img {
    width: 3.5rem;
}

.project p {
    margin-bottom: 1rem;
}

.project .links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
}

.project .links a {
    padding: 0.5rem 1rem;
    border: 1px solid var(--var-color-dark-shades);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: var(--var-font-headers);
    text-decoration: none; 
    color: var(--var-color-light-shades);
    background-color: var(--var-color-dark-shades);
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.project .links a:hover {
    transform: translateY(-0.25rem);
}

.project .links a:nth-child(1) {
    color: var(--var-color-light-shades);
    background-color: var(--var-color-main-brand);
}

/* Contact form */
/* Style the form container */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--var-font-primary);
}

.contact h3 {
    font-family: var(--var-font-headers);
    margin-bottom: 3rem;
}

.contact h3 .fa-feather {
    color: var(--var-color-main-brand)
}

form {
    max-width: 60rem;
    margin: 0 auto 2rem auto;
}
  
  /* Style the form fields */
.form-group {
    margin-bottom: 1.5rem;
}
  
label {
    margin-bottom: 0.5rem;
    font-size: 14px;
    padding: 0.5rem;
}
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--var-color-dark-shades);
    border: 1px solid var(--var-color-light-accent);
    font-family: var(--var-font-primary);
    outline: none;
  }
  
  textarea {
    height: 150px;
  }
  
  /* Style the form button */
  button[type="submit"] {
    background-color: var(--var-color-main-brand);
    color: var(--var-color-light-shades);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-family: var(--var-font-headers);
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
  }
  
  button[type="submit"]:hover {
    transform: translateY(-0.25rem);
  }

  /* Footer section */
  /* Style the footer container */
footer {
    background-color: var(--var-color-dark-shades);
    color: var(--var-color-light-shades);
    font-size: 1rem;
    align-items: center;
    width: 100%;
  }

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


  
  /* Style the quick links column */
  ul.list-unstyled {
    margin: 0;
    padding: 0;
    font-family: var(--var-font-primary);
    column-count: 2;
  }
  
  ul.list-unstyled li {
    list-style: none;
    margin: 0;
    padding-right: 0.5rem;
    border: none;
    font-weight: 100;
}

.col-md-6 {
    margin: 2rem;
}

.col-md-6 h4 {
    margin-bottom: 1rem;
    font-weight: 300;
}


ul.list-unstyled li a {
    color: var(--var-color-light-shades);
    text-decoration: none;
    transition: color 0.3s ease;
}
  
ul.list-unstyled li a:hover {
    color: var(--var-color-light-accent);
}
  
  /* Style the social media column */
ul.social-media-icons {
    margin: 0;
    padding: 0;
}
  
ul.social-media-icons li {
    display: inline-block;
    margin-right: 2rem;
}
  
ul.social-media-icons li:last-child {
    margin-right: 0;
}
  
ul.social-media-icons li a {
    color: var(--var-color-light-shades);
    transition: color 0.3s ease;
}
  
ul.social-media-icons li a:hover {
    color: var(--var-color-light-accent);
}

  /* Style the social media icons */
  i.fab {
    font-size: 2rem;
  }
  
  i.fa-brands {
    font-size: 2rem;
  }

  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 5rem;
        line-height: 0.8
    }
    
    h2 {
        font-size: 5rem;
        line-height: 0.6;
    }
    
    
    h3 {
        font-size: 2.5rem;
        line-height: 1;
    }
    
    h4 {
        font-size: 1.2rem;
    }
      
    p {
        font-size: 1rem;
        padding: 0.5rem 5rem;
    }

    .container {
        width: 100%;
    }

    .thank-you-message .fa-square-xmark {
        font-size: 2rem;
    }

    .thank-you-message h2 {
        font-weight: 300;
        padding: 1rem;
    }

    .thank-you-message h2 .fa-circle {
        font-size: 1rem;
    }

    .section-1 {
        height: 70vh;
    }
    
    .section-2 {
        height: 70vh;
    }
    
    .section-3 {
        height: 70vh;
    }
    
    .section-4 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-5 {
        height: 70vh;
    }
    
    .section-6 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-7 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-8 {
        height: auto;
        margin: 3rem 0;
        
    }
    
    .section-9 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-10 {
        height: 100vh;
    }

    header {
        width: 100%;
        z-index: 1000;

    }

    nav {
        justify-content: space-between;
        z-index: 1000;
        
    }

    .logo {
        margin: 0 1rem;
    }

    .nav-link ul {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 2rem;
    }

    .nav-link ul > * {
        font-size: 1.8rem;
    }

    .nav-link {
        display: none;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--var-color-dark-shades);
        z-index: 999;
    }
    
    .roll-down {
        animation: roll-down 0.5s forwards;
    }

    .roll-up {
        animation: roll-up 0.5s forwards;
    }

    @keyframes roll-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    
    @keyframes roll-up {
        0% {
        transform: translateY(0%);
        }
        100% {
        transform: translateY(-100%);
        }
    }

    .menu-button {
        display: flex;
    }

    #menuBtn {
        display: flex;
        margin: 0 1rem;
    }
    
    #exitBtn {
        display: none;
        margin: 0 1rem;
    }

    .download-btn button a .fa-download {
        margin: 0;
    }

    .home h1 {
        margin: 0 0 0 3rem;
        line-height: 1.2;
        padding: 0 0 5rem 0;
    }

    .home .fa-circle {
        font-size: 1rem;
        
    }

    .span-container {
        width: 165px;
    }

    #web, 
    #app, 
    #game {
        right: 0;
        font-size: 5rem;
    }

    .about h2 {
        margin-top: 40px;
    }

    .about .fa-circle {
        font-size: 1rem;
        margin: -3px
    }

    #doText {
        font-size: 5rem;
    }

    .about .blinking-cursor {
        font-size: 7rem;
        margin-left: -15px;
    }

    .describe-myself h2{
        margin: 3rem 0 3rem 0;
        
    }

    .creation-container {
        font-size: 1rem;
    }

    .describe-myself .fa-circle {
        font-size: 0.8rem;
        margin-left: -10px
    }

    #creationText {
        font-size: 2.3rem;
        line-height: 1.2;
    }

    .describe-myself .blinking-cursor {
        font-size: 3.5rem;
        margin-left: -15px;
    }

    .describe-myself p {
        margin-top: 0.7rem;
    }

    #technologyText {
        font-size: 2.3rem;
    }

    .skill-container .categories {
        margin-bottom: 1rem;
    }

    .categories .btn-category {
        margin: 0 1rem 0rem 1rem;
        font-size: 1rem;
    }

    .skill-container .images {
        padding: 0 6rem;
    }

    .skill-container .images > * {
        margin: 1rem;
        width: 5rem;
    }

    .section-8 .describe-myself {
        margin-top: 4rem;
    }

    #projectsText {
        font-size: 2.3rem;
    }

    .projects-categories {
        margin-bottom: 3rem;
        margin-top: 5rem;
    }

    .projects .projects-btn-category {
        margin: 0 0.3rem 0rem 0.3rem;
        font-size: 1rem;
    }
    
    .projects-container {
        justify-content: space-between;
    }

    .project {
        width: 29%;
        margin-bottom: 3rem;
    }
  
    .project h3 {
        font-size: 1rem;
    }

    .project .technology {
        justify-content: center;
        padding: 1rem 1rem 0 1rem;
    }
    
    .project .technology img {
        width: 2.5rem;
        margin: 0.5rem;
    }

    .project p {
        margin-bottom: 1.3rem;
        padding: 1rem;
    }

    .contact h3 {
        text-align:center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    form {
        max-width: 60rem;
        margin: 0 auto 3rem auto;
    }

    .form-group {
        margin: 0.5rem;
    }

    label {
        font-size: 0.9rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        color: var(--var-color-dark-shades);
        border: 1px solid var(--var-color-light-accent);
        font-family: var(--var-font-primary);
        outline: none;
    }

    textarea {
        height: 150px;
    }

    button[type="submit"] {
        background-color: var(--var-color-main-brand);
        color: var(--var-color-light-shades);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-family: var(--var-font-headers);
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        margin-left: 0.5rem;
    }
      
    button[type="submit"]:hover {
        transform: translateY(-0.25rem);
    }

    .row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .col-md-6 {
        width: 100%;
        margin: 0 0 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-md-6 h4 {
        padding: 0 1rem;
        margin: 0.5rem;
    }

    ul.list-unstyled {
        margin: 0;
        padding: 0 1rem;
        font-family: var(--var-font-primary);
        column-count: 1;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    ul.social-media-icons {
        margin: 0 auto;
        padding: 1rem;
      }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    h1 {
        font-size: 2.6rem;
        line-height: 0.8
    }
    
    h2 {
        font-size: 2.6rem;
        line-height: .6;
    }
    
    
    h3 {
        font-size: 1.8rem;
        line-height: 1.5;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    
    p {
        font-size: 1rem;
        padding: 0.5rem 5rem;
    }

    .container {
        width: 100%;
    }

    .thank-you-message .fa-square-xmark {
        font-size: 0.7rem;
    }

    .thank-you-message h2 {
        font-weight: 300;
        padding: 1rem;
    }

    .thank-you-message h2 .fa-circle {
        font-size: 0.3rem;
    }

    .section-1 {
        height: 100vh;
    }
    
    .section-2 {
        height: 100vh;
    }
    
    .section-3 {
        height: 100vh;
    }
    
    .section-4 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-5 {
        height: 100vh;
    }
    
    .section-6 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-7 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-8 {
        height: auto;
        margin: 3rem 0;
        
    }
    
    .section-9 {
        height: auto;
    }
    
    .section-10 {
        height: auto;
        margin: 3rem 0;
    }

    header {
        width: 100%;
        z-index: 1000;

    }

    nav {
        justify-content: space-between;
        z-index: 1000;
        
    }

    .logo {
        margin: 0 1rem;
    }

    .nav-link ul {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 2rem;
    }

    .nav-link ul > * {
        font-size: 1.8rem;
    }

    .nav-link {
        display: none;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--var-color-dark-shades);
        z-index: 999;
    }
    
    .roll-down {
        animation: roll-down 0.5s forwards;
    }

    .roll-up {
        animation: roll-up 0.5s forwards;
    }

    @keyframes roll-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    
    @keyframes roll-up {
        0% {
        transform: translateY(0%);
        }
        100% {
        transform: translateY(-100%);
        }
    }

    .menu-button {
        display: flex;
    }

    #menuBtn {
        display: flex;
        margin: 0 1rem;
    }
    
    #exitBtn {
        display: none;
        margin: 0 1rem;
    }

    .download-btn button a .fa-download {
        margin: 0;
    }

    .home h1 {
        margin: 0 0 0 5rem;
        line-height: 3rem;
        padding: 0;
    }

    .home .fa-circle {
        font-size: 0.6rem;
        margin: 0.1rem;
    }

    .span-container {
        width: 85px;
    }

    #web, 
    #app, 
    #game {
        right: 0;
        font-size: 2.6rem;
    }

    .about h2 {
        margin-top: 40px;
    }

    .about .fa-circle {
        font-size: 0.7rem;
        margin: -3px
    }

    #doText {
        font-size: 2.6rem;
    }

    .about .blinking-cursor {
        font-size: 3rem;
        margin-left: -9px;
    }

    video {
        border-radius: 0;
    }

    .describe-myself h2{
        margin: 0 0 1rem 0;
        
    }

    .creation-container {
        font-size: 1rem;
    }

    .describe-myself .fa-circle {
        font-size: 0.3rem;
        margin-left: -0.1rem
    }

    #creationText {
        font-size: 1rem;
    }

    .describe-myself .blinking-cursor {
        font-size: 1.4rem;
        margin-left: -8px;
    }

    .describe-myself p {
        margin-top: 0.7rem;
    }

    #technologyText {
        font-size: 1rem;
    }

    .skill-container .categories {
        margin-bottom: 1rem;
    }

    .categories .btn-category {
        margin: 0 0.3rem 0rem 0.3rem;
        font-size: 1rem;
    }

    .skill-container .images {
        padding: 1rem 9rem;
    }

    .skill-container .images > * {
        margin: 0.3rem;
        width: 3rem;
    }

    .section-8 .describe-myself {
        margin-top: 4rem;
    }

    #projectsText {
        font-size: 1rem;
    }

    .projects-categories {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .projects .projects-btn-category {
        margin: 0 0.3rem 0rem 0.3rem;
        font-size: 1rem;
    }
    
    .projects-container {
        justify-content: center;
    }

    .project {
        width: 40%;
        margin-bottom: 1rem;
    }
  
    .project h3 {
        font-size: 1rem;
    }

    .project .technology {
        justify-content: center;
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 1rem;
    }
    
    .project .technology img {
        margin: 0.3rem;
        width: 3rem;
    }

    .project p {
        margin-bottom: 1.3rem;
        padding: 1rem;
    }

    .contact h3 {
        text-align:center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    form {
        max-width: 60rem;
        margin: 0 auto 3rem auto;
    }

    .form-group {
        margin: 0.5rem;
    }

    label {
        font-size: 0.9rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        color: var(--var-color-dark-shades);
        border: 1px solid var(--var-color-light-accent);
        font-family: var(--var-font-primary);
        outline: none;
    }

    textarea {
        height: 100px;
    }

    button[type="submit"] {
        background-color: var(--var-color-main-brand);
        color: var(--var-color-light-shades);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-family: var(--var-font-headers);
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        margin-left: 0.5rem;
    }
      
    button[type="submit"]:hover {
        transform: translateY(-0.25rem);
    }

    .row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .col-md-6 {
        width: 100%;
        margin: 0 0 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-md-6 h4 {
        padding: 0 1rem;
        margin: 0.5rem;
    }

    ul.list-unstyled {
        margin: 0;
        padding: 0 1rem;
        font-family: var(--var-font-primary);
        column-count: 2;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    ul.social-media-icons {
        margin: 0 auto;
        padding: 1rem;
      }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 481px) and (max-width: 767px) {
    h1 {
        font-size: 2.6rem;
        line-height: 0.8
    }
    
    h2 {
        font-size: 2.6rem;
        line-height: .6;
    }
    
    
    h3 {
        font-size: 1.8rem;
        line-height: 1.5;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    
    p {
        font-size: 1rem;
        padding: 0.5rem 5rem;
    }

    .container {
        width: 100%;
    }

    .thank-you-message .fa-square-xmark {
        font-size: 0.7rem;
    }

    .thank-you-message h2 {
        font-weight: 300;
        padding: 1rem;
    }

    .thank-you-message h2 .fa-circle {
        font-size: 0.3rem;
    }

    .section-1 {
        height: 100vh;
    }
    
    .section-2 {
        height: 100vh;
    }
    
    .section-3 {
        height: 100vh;
    }
    
    .section-4 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-5 {
        height: 100vh;
    }
    
    .section-6 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-7 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-8 {
        height: auto;
        margin: 3rem 0;
        
    }
    
    .section-9 {
        height: auto;
    }
    
    .section-10 {
        height: auto;
        margin: 3rem 0;
    }

    header {
        width: 100%;
        z-index: 1000;

    }

    nav {
        justify-content: space-between;
        z-index: 1000;
        
    }

    .logo {
        margin: 0 1rem;
    }

    .nav-link ul {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 2rem;
    }

    .nav-link ul > * {
        font-size: 1.8rem;
    }

    .nav-link {
        display: none;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--var-color-dark-shades);
        z-index: 999;
    }
    
    .roll-down {
        animation: roll-down 0.5s forwards;
    }

    .roll-up {
        animation: roll-up 0.5s forwards;
    }

    @keyframes roll-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    
    @keyframes roll-up {
        0% {
        transform: translateY(0%);
        }
        100% {
        transform: translateY(-100%);
        }
    }

    .menu-button {
        display: flex;
    }

    #menuBtn {
        display: flex;
        margin: 0 1rem;
    }
    
    #exitBtn {
        display: none;
        margin: 0 1rem;
    }

    .download-btn button a .fa-download {
        margin: 0;
    }

    .home h1 {
        margin: 0 0 0 5rem;
        line-height: 3rem;
        padding: 0;
    }

    .home .fa-circle {
        font-size: 0.6rem;
        margin: 0.1rem;
    }

    .span-container {
        width: 85px;
    }

    #web, 
    #app, 
    #game {
        right: 0;
        font-size: 2.6rem;
    }

    .about h2 {
        margin-top: 40px;
    }

    .about .fa-circle {
        font-size: 0.7rem;
        margin: -3px
    }

    #doText {
        font-size: 2.6rem;
    }

    .about .blinking-cursor {
        font-size: 3rem;
        margin-left: -9px;
    }

    video {
        border-radius: 0;
    }

    .describe-myself h2{
        margin: 0 0 1rem 0;
        
    }

    .creation-container {
        font-size: 1rem;
    }

    .describe-myself .fa-circle {
        font-size: 0.3rem;
        margin-left: -0.1rem
    }

    #creationText {
        font-size: 1rem;
    }

    .describe-myself .blinking-cursor {
        font-size: 1.4rem;
        margin-left: -8px;
    }

    .describe-myself p {
        margin-top: 0.7rem;
    }

    #technologyText {
        font-size: 1rem;
    }

    .skill-container .categories {
        margin-bottom: 1rem;
    }

    .categories .btn-category {
        margin: 0 0.3rem 0rem 0.3rem;
        font-size: 1rem;
    }

    .skill-container .images {
        padding: 0 8rem;

    }

    .skill-container .images > * {
        margin: 0.3rem;
        width: 3rem;
    }

    .section-8 .describe-myself {
        margin-top: 4rem;
    }

    #projectsText {
        font-size: 1rem;
    }

    .projects-categories {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .projects .projects-btn-category {
        margin: 0 0.3rem 0rem 0.3rem;
        font-size: 1rem;
    }
    
    .projects-container {
        justify-content: center;
    }

    .project {
        width: 40%;
        margin-bottom: 1rem;
    }
  
    .project h3 {
        font-size: 1rem;
    }

    .project .technology {
        justify-content: center;
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 1rem;
    }
    
    .project .technology img {
        margin: 0.3rem;
        width: 3rem;
    }

    .project p {
        margin-bottom: 1.3rem;
        padding: 1rem 1rem;
    }

    .contact h3 {
        text-align:center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    form {
        max-width: 60rem;
        width: 100%;
        margin: 0 auto 3rem auto;
    }

    .form-group {
        margin: 0.5rem;
    }

    label {
        font-size: 0.9rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        color: var(--var-color-dark-shades);
        border: 1px solid var(--var-color-light-accent);
        font-family: var(--var-font-primary);
        outline: none;
    }

    textarea {
        height: 100px;
    }

    button[type="submit"] {
        background-color: var(--var-color-main-brand);
        color: var(--var-color-light-shades);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-family: var(--var-font-headers);
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        margin-left: 0.5rem;
    }
      
    button[type="submit"]:hover {
        transform: translateY(-0.25rem);
    }

    .row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .col-md-6 {
        width: 100%;
        margin: 0 0 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-md-6 h4 {
        padding: 0 1rem;
        margin: 0.5rem;
    }

    ul.list-unstyled {
        margin: 0;
        padding: 0 1rem;
        font-family: var(--var-font-primary);
        column-count: 1;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    ul.social-media-icons {
        margin: 0 auto;
        padding: 1rem;
      }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
    
@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 2.6rem;
        line-height: 0.8
    }
    
    h2 {
        font-size: 2.6rem;
        line-height: .6;
    }
    
    
    h3 {
        font-size: 1.8rem;
        line-height: 1.5;
    }
    
    h4 {
        font-size: 1.2rem;
    }
      
    p {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .container {
        width: 100%;
    }

    .thank-you-message .fa-square-xmark {
        font-size: 0.7rem;
    }

    .thank-you-message h2 {
        font-weight: 300;
        padding: 1rem;
    }

    .thank-you-message h2 .fa-circle {
        font-size: 0.3rem;
    }

    .section-1 {
        height: 70vh;
    }
    
    .section-2 {
        height: 70vh;
    }
    
    .section-3 {
        height: 70vh;
    }
    
    .section-4 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-5 {
        height: 70vh;
    }
    
    .section-6 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-7 {
        height: auto;
        margin: 3rem 0;
    }
    
    .section-8 {
        height: auto;
        margin: 3rem 0;
        
    }
    
    .section-9 {
        height: auto;
    }
    
    .section-10 {
        height: 100vh;
    }

    header {
        width: 100%;
        z-index: 1000;

    }

    nav {
        justify-content: space-between;
        z-index: 1000;
        
    }

    .logo {
        margin: 0 1rem;
    }

    .nav-link ul {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 2rem;
    }

    .nav-link ul > * {
        font-size: 1.8rem;
    }

    .nav-link {
        display: none;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--var-color-dark-shades);
        z-index: 999;
    }
    
    .roll-down {
        animation: roll-down 0.5s forwards;
    }

    .roll-up {
        animation: roll-up 0.5s forwards;
    }

    @keyframes roll-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    
    @keyframes roll-up {
        0% {
        transform: translateY(0%);
        }
        100% {
        transform: translateY(-100%);
        }
    }

    .menu-button {
        display: flex;
    }

    #menuBtn {
        display: flex;
        margin: 0 1rem;
    }
    
    #exitBtn {
        display: none;
        margin: 0 1rem;
    }

    .download-btn button a .fa-download {
        margin: 0;
    }

    .home h1 {
        margin: 0 0 0 1rem;
        line-height: 3rem;
        padding: 0 0 3rem 0;
    }

    .home .fa-circle {
        font-size: 0.5rem;
        margin: 0.1rem;
    }

    .span-container {
        width: 85px;
    }

    #web, 
    #app, 
    #game {
        right: 0;
        font-size: 2.6rem;
    }

    .about h2 {
        margin-top: 40px;
    }

    .about .fa-circle {
        font-size: 0.7rem;
        margin: -3px
    }

    #doText {
        font-size: 2.6rem;
    }

    .about .blinking-cursor {
        font-size: 3rem;
        margin-left: -9px;
    }

    .describe-myself h2{
        margin: 0 0 1rem 0;
        
    }

    .creation-container {
        font-size: 1rem;
    }

    .describe-myself .fa-circle {
        font-size: 0.3rem;
        margin-left: -0.1rem
    }

    #creationText {
        font-size: 1rem;
    }

    .describe-myself .blinking-cursor {
        font-size: 1.4rem;
        margin-left: -8px;
    }

    .describe-myself p {
        margin-top: 0.7rem;
    }

    #technologyText {
        font-size: 1rem;
    }

    .skill-container .categories {
        margin-bottom: 1rem;
    }

    .categories .btn-category {
        margin: 0 0.3rem 0rem 0.3rem;
        font-size: 1rem;
    }

    .skill-container .images {
        padding: 0 0.5rem;
    }

    .skill-container .images > * {
        margin: 0.5rem;
        width: 2.5rem;
    }

    .section-8 .describe-myself {
        margin-top: 4rem;
    }

    #projectsText {
        font-size: 1rem;
    }

    .projects-categories {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .projects .projects-btn-category {
        margin: 0 0.3rem 0rem 0.3rem;
        font-size: 1rem;
    }
    
    .projects-container {
        justify-content: center;
    }

    .project {
        width: 100%;
        margin-bottom: 1rem;
    }
  
    .project h3 {
        font-size: 1rem;
    }

    .project .technology {
        justify-content: center;
        padding: 1rem 1rem 0 1rem;
    }
    
    .project .technology img {
        width: 2.5rem;
        margin: 0.5rem;
    }

    .project p {
        margin-bottom: 1.3rem;
    }

    .contact h3 {
        text-align:center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    form {
        max-width: 60rem;
        width: 100%;
        margin: 0 auto 3rem auto;
    }

    .form-group {
        margin: 0.5rem;
    }

    label {
        font-size: 0.9rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        color: var(--var-color-dark-shades);
        border: 1px solid var(--var-color-light-accent);
        font-family: var(--var-font-primary);
        outline: none;
    }

    textarea {
        height: 100px;
    }

    button[type="submit"] {
        background-color: var(--var-color-main-brand);
        color: var(--var-color-light-shades);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-family: var(--var-font-headers);
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        margin-left: 0.5rem;
    }
      
    button[type="submit"]:hover {
        transform: translateY(-0.25rem);
    }

    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-md-6 {
        width: 100%;
        margin: 0 0 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-md-6 h4 {
        padding: 0 1rem;
        margin: 0.5rem;
    }

    ul.list-unstyled {
        margin: 0;
        padding: 0 1rem;
        font-family: var(--var-font-primary);
        column-count: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    ul.social-media-icons {
        margin: 0 auto;
        padding: 1rem;
      }
}

/*
##Device = iPhone6/7/8 (Portrait)
##Screen = B/w 375px to 413px
*/

@media (min-width: 375px) and (max-width: 413px) {
    .home h1 {
        margin: 0 0 0 0.9rem;
        line-height: 1.5;
        padding: 0 0 5rem 0;
        font-size: 3rem;
    }

    .home .fa-circle {
        font-size: 0.6rem;
        margin: 0.1rem;
    }

    .span-container {
        width: 100px;
    }

    #web, 
    #app, 
    #game {
        font-size: 3rem;
    }
}

/*
##Device = iPhone6/7/8 Plus (Portrait)
##Screen = B/w 414px to 480px
*/

@media (min-width: 414px) and (max-width: 480px) {
    .home h1 {
        margin: 0 0 0 1.2rem;
        line-height: 1.5;
        padding: 0 0 5.5rem 0;
        font-size: 3.3rem;
    }

    .home .fa-circle {
        font-size: 0.7rem;
        margin: 0.1rem;
    }

    .span-container {
        width: 110px;
    }

    #web, 
    #app, 
    #game {
        font-size: 3.3rem;
    }
}